.account-container {
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(purple, aqua);
}

.page-content {
  justify-content: center;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column; /* stacks divs vertically */
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */
}

input {
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
}

.btn {
  text-align: center;
  border-radius: 8px;
  width: 100px;
  margin-top: 10px;
}

.btn:hover {
  background-color: grey;
}

.account-reset {
  border: 5px solid;
  padding: 10px;
  border-radius: 8px;
  border-width: 1px;
}

.account-delete {
  color: red;
  font-weight: bold;
}

.delete-btn {
  border-radius: 8px;
  padding: 5px;
}

.delete-btn:hover {
  background-color: red;
}
